{% if page.tags contains 'spring' %}
<div class="post__promo spring">
	<a href="/spring">Psst... 👋 Sprawdź Szkołę Springa! 🍃
	<br/><br/><strong>12-modułowy program</strong>, który nauczy Cię tworzyć własne aplikacje w Springu od <strong>0&nbsp;do&nbsp;wdrożenia na produkcję</strong>.
	</a>
</div>
{% elsif page.tags contains 'wspolbieznosc' %}
<div class="post__promo wspolbieznosc">
<a href="/wspolbieznosc">Psst... 👋 Sprawdź Kurs Współbieżności! 🚅
	<br/><br/>
	<strong>9-modułowy program</strong>, który nauczy Cię pracy ze Współbieżnością w Javie. Poznaj wątki, synchronizacje i najlepsze praktyki!
</a>
</div>
{% elsif page.tags contains 'monitoring' %}
<div class="post__promo monitoring">
<a href="/monitoring">Psst... 👋 Sprawdź Kurs Monitoringu! 🔍
	<br/><br/><strong>5-modułowy program</strong>, który nauczy Cię pracy z metrykami i pomoże na żywo analizować zachowanie Twojej aplikacji w Javie!
</a>
</div>
{% elsif page.tags contains 'lombok' %}
<div class="post__promo lombok">
<a href="/lombok">Psst... 👋 Sprawdź Kurs Lomboka! 🌶️
	<br/><br/><strong>Szybki program</strong>, który nauczy Cię najlepszych sztuczek z ekstremalnie popularnej biblioteki Lombok!
</a>
</div>
{% endif %}







