<!-- begin hero -->
<section class="hero section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
            </div>
          </div>

          <div class="hero__right">
            <h1 class="hero__title">Newsletter <span>#SztukaKoduPlus</span></h1>
            <p class="hero__description"><strong>Cotygodniowa publikacja</strong> zbierająca praktyczne porady dla <strong>Javowców, Backendowców i Architektów 👇</strong></p>
            <div class="hero__subscribe">
              <form class="subscribe-form validate"
                action="{% if site.data.settings.newsletter__submit_url %}//{{site.data.settings.newsletter__submit_url}}{% else %}#{% endif %}" method="POST"
                id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="email"
                  placeholder="{% if site.data.settings.newsletter__input__text %}{{ site.data.settings.newsletter__input__text }}{% else %}Email address{% endif %}">
                <button class="button button--primary button--small subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{
                  site.data.settings.newsletter__button__text }}</button>
              </form>
            </div>
            <p style="text-align: center; font-size: smaller;">🕒 Następne wydanie <strong id="hero__timer">w poniedziałek o 12:00</strong></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->