---
layout: default
title: Najnowsze wpisy
description: Sprawdź najnowsze wpisy na blogu
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h2 class="post-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
        <p class="page-description">{{ page.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article-mini.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}
