---
layout: default
title: Najnowsze wpisy
description: Sprawdź najnowsze wpisy na blogu
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}


<div class="container tags__list">
    <div class="row">
      <div class="col col-12 ">
      {% if tag_words.size >= 1 %}
        <h2>Wybierz kategorię:</h2>
        <div class="post-tags">
          <a href="{{ site.baseurl }}/blog" class="post__tag all">WSZYSTKIE</a>
          {% for tag in tag_words %}
            <a href="{{ site.baseurl }}/blog/?tag={{ tag | downcase | url_encode }}" class="post__tag {{tag}}">
              {% if site.data.tags[tag] != null %} {{ site.data.tags[tag] }} {% else %} {{ tag }} {% endif %}
            </a>
          {% endfor %}
        </div>
      {% endif %}
      </div>
  </div>
</div>


<!-- begin tags -->
<section class="tags">

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}

    <div class="tags__inner is-hidden" id="{{ this_word | url_decode }}">
    
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="tag__info">
              <h2 class="tag__name">{% if site.data.tags[this_word] != null %} {{ site.data.tags[this_word] }} {% else %} {{ this_word }} {% endif %}</h2>
              <div class="tag__counter">{{ site.tags[this_word].size }} Wpisów</div>
            </div>
          </div>
        </div>
      </div>

      <div class="container animate">
        <div class="row">
          {% for post in site.tags[this_word] %}
            {% if post.title != null %}
              {% include article-mini.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>

    {% endunless %}
  {% endfor %}

  <div id="all-entries" class="is-hidden">
    {% include blog-all.html %}
  </div>

</section>
<!-- end tags -->

<script>
  var tag_name = decodeURI(window.location.search.replace("?tag=", ""));
  if (tag_name) {
    var el = document.querySelector('#' + tag_name);
    el.classList.remove("is-hidden");
    var tagEl = document.querySelector('.post-tags').querySelector('.' + tag_name);
    tagEl.classList.add('highlight');
  } else {
    document.querySelector("#all-entries").classList.remove('is-hidden');
    var tagEl = document.querySelector('.post-tags').querySelector('.all');
    tagEl.classList.add('highlight');
  }
</script>