---
layout: default
---

<div class="post-head">
  <div class="container">
    <div class="row">

      <div class="col col-12">
        <div class="post-info">
  
          <h1 class="post-title">{{ page.title | escape }}</h1>
  
          <div class="post-meta">
            <a class="post-author-link">{{site.data.settings.author.author__name}}</a> –
            <!-- <a href="{{site.baseurl}}/about/" class="post-author-link">{{site.data.settings.author.author__name}}</a> – -->
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container page">
  <div class="row">
    {%if page.image and page.video == nil %}
     <div class="col col-12">
      <div class="post-image animate">
        {% if page.sponsored %}<span>WSPÓŁPRACA</span>{% endif %}
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
    {%endif %}
  </div>
</div>

<!-- begin post -->
<div class="container animate">

  <article class="post">

    <div class="post__content">
      {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor" h_max=2 %}
    </div>

          {% if page.tags.size >= 1 %}
            <div class="post-tags">
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="post__tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}

          {% include post__share.html %}

    {% include post-promo.html %}
  </article>
</div>
<!-- end post -->

{% if site.data.settings.disqus-identifier %}
  <div class="container">
    <div class="row">
      <div class="col col-12">
        {% include disqus-comments.html %} 
      </div>
    </div>
<hr />
  </div>
{% endif %}

{% if site.data.settings.related-posts %}
{% include related-posts.html %}
{% endif %}